@layer components {
  .error-visual {
    @apply flex items-center justify-center gap-4 px-3 py-2 sm:gap-6 sm:px-4 sm:py-2.5 md:gap-8 md:px-4 md:py-3;
  }

  .error-digit {
    @apply border-alpha-200 text-alpha-200 bg-primary-900/40 flex min-h-14 min-w-14 items-center justify-center rounded-lg border p-6 text-4xl font-light transition-all duration-300 hover:scale-90 sm:min-h-18 sm:min-w-18 sm:text-5xl md:min-h-22 md:min-w-22 md:text-6xl lg:min-h-26 lg:min-w-26 lg:text-7xl;
  }
}
