@layer components {
  .card {
    @apply relative z-10 max-w-225 w-full
           rounded-xl overflow-hidden shadow-2xs;
  }

.glow {
  @apply absolute top-1/2 left-1/2
  -translate-x-1/3 -translate-y-1/2
  opacity-60
  z-0
  pointer-events-none;
  
  width: 260px;
  height: 400px;
  
  filter: blur(60px) saturate(1.4) brightness(0.9);
}

@media (min-width: 768px) {
  .glow {
    width: 420px;
    height: 500px;
  }
}

/* Desktop: horizontal */
@media (min-width: 1024px) {
  .glow {
    width: 600px;
    height: 400px;
  }
}

@media (min-width: 1280px) {
  .glow {
    width: 800px;
    height: 450px;
  }
}
}
