@layer components {
  .footer {
    @apply max-w-7xl w-full my-auto mx-auto flex flex-col md:flex-row items-center md:justify-between gap-4;
  }

  .footer-left { @apply flex items-center justify-center md:justify-start gap-2 text-center md:text-left; }
  .footer-right { @apply flex flex-col sm:flex-row items-center justify-center md:justify-end gap-1 sm:gap-2 text-center md:text-right text-xs; }
}
