---
import GetTime from "@svelte/GetTime.svelte";
---

<footer class="footer px-10">
  <section class="footer-left">
    <span class="credit-label">BOGOTÁ, COL</span>
    <GetTime client:visible />
  </section>

  <span class="separator" aria-hidden="true">•</span>

  <section class="footer-right">
    <span class="emphasis-text">Diseñado Por</span>
    <span class="credit-label">Joan Mendez</span>
  </section>
</footer>