@import "tailwindcss";

@import "./fonts.css";

@import "./base/layout.css";
@import "./base/typography.css";

@import "./components/cards.css";
@import "./components/footer.css";
@import "./components/navigation.css";
@import "./components/ui.css";

@import "./layout/projects.css";
@import "./layout/404.css";

:root {
  --color-primary-900: oklch(0.2062 0 0);
  --color-primary-850: rgb(20, 20, 20);
  --color-primary-800: rgb(38, 38, 38);
  --color-primary-700: oklch(0.2393 0 0);

  --color-alpha-800: oklch(0.5208 0 0);
  --color-alpha-700: oklch(0.5693 0 0);
  --color-alpha-600: oklch(0.683 0 0);
  --color-alpha-200: oklch(0.738 0 0);
  --color-alpha-100: oklch(0.8853 0 0);
  --color-emphasis: oklch(0.5899 0.1716 255.42);
  --color-steel-blue: oklch(0.588 0.0993 245.74);
  --color-border-btn: oklch(1 0 0 / 16%);

  --font-inter: "Inter", sistem-ui, sans-serif;
  --font-bartle: "BBH-Bartle", sans-serif;
}

@theme {
  --color-primary-900: var(--color-primary-900);
  --color-primary-850: var(--color-primary-850);
  --color-primary-800: var(--color-primary-800);
  --color-primary-700: var(--color-primary-700);

  --color-alpha-800: var(--color-alpha-800);
  --color-alpha-700: var(--color-alpha-700);
  --color-alpha-600: var(--color-alpha-600);
  --color-alpha-200: var(--color-alpha-200);
  --color-alpha-100: var(--color-alpha-100);
  --color-emphasis: var(--color-emphasis);
  --color-steel-blue: var(--color-steel-blue);
  --color-border-btn: var(--color-border-btn);

  --font-inter: var(--font-inter);
  --font-bartle: var(--font-bartle);
}

body {
  position: relative;
  z-index: 0;

  background-color: var(--color-primary-900);
  color: var(--color-alpha-800);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: url("/ellipse.svg") no-repeat 80% 20% / 140% auto;
  opacity: 0.6;

  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: url("/mask-image.svg") repeat-y center / cover;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-primary-850);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-alpha-800);
  border-radius: 3px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::view-transition-old(*) {
  animation-duration: 0.4s;
}

::view-transition-new(*) {
  animation-duration: 0.4s;
}
